.NameContainer {
 border: 2px solid #0066FF;
 border-radius: 5px;
 margin: 12px auto;
 padding: 12px;
 width: 75vw
}

.NameItem {
  list-style-type: none;
  border: 1px solid #0066FF;
  border-radius: 6px;
  margin: 12px auto;
  padding: 6px;
  width: 200px;
}

input {
  border: 1px solid #0066FF;
  border-radius: 6px;
  margin: 12px auto;
  padding: 6px;
  width: 200px;
}

label {
  padding: 6px;
  width: 200px;
}