.Post {
    width: 200px;
    padding: 12px;
    text-align: center;
    border: 2px solid #003399;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    margin: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}