.HomeContainer {
  width: 100vw;
  height: 100vh;
  background-image: url(../../Images/julian-steenbergen-_hCMJzL3lMo-unsplash.jpg);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
}

.Home-article {
  padding-top: 52px;
  width: 75vw;
  margin: 0 auto;
}

.Home-article div {
   border: 2px solid #003399;
  border-radius: 5px;
  box-shadow: 0 2px 3px #ccc;
  padding: 12px
}


.Gray {
background-color: rgba(204, 210, 211, 0.87);
}

.Red {
background-color: indianred;
}

.Yellow {
background-color: rgba(230, 207, 0, 0.747);
}

