.CounterPanel {
 border: 2px solid #0066FF;
 border-radius: 5px;
 margin: 12px auto;
 padding: 12px;
 width: 75vw
}

.Counter {
  color: #0066FF;
  font-size: 1.2em;
  padding: 6px;
}

.CounterValue {
  font-weight: bold;
}

button {
  margin: 10px 0 10px 10px;
  padding: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 1px solid #0066FF;
}

button:hover {
  background-color: #003399;
  border: 1px solid #003399;
  cursor: pointer;
}


input:focus {
  border: 2px solid #0066FF;
  outline: none
}

#inputStep {
  width: 4em;
}