.App {
  text-align: center;
  /* padding-top: 5vh; */
}

.Toolbar {
  justify-content: space-between;
  background-color: #003399;
}

.Toolbar2 {
  background-color: #0066FF;
}

.Toolbar2-link {
  color: white;
  text-decoration: none;
  padding-right: 3rem;
}

.Toolbar2-link:hover {
  font-weight: bolder;
}
