.FullPost {
    width: 100%;
    min-height: 324px;
    margin: 12px 0;
    padding: 12px;
    box-sizing: border-box;

    border: 2px solid #003399;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.Edit {

}

.Edit label {
    display: block;
    color: grey;
}

.Edit button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #fa923f;
}

.Edit button:hover,
.Edit button:active {
    color: #521751;
}

.Edit button.Delete {
    color: red;
}

.Edit button.Delete:hover,
.Edit button.Delete:active {
    color: darkred;
}