.FullPost {
    width: 100%;
    min-height: 324px;
    margin: 12px 0;
    padding: 12px;
    box-sizing: border-box;

    border: 2px solid #003399;
    border-radius: 5px;
    box-shadow: 0 2px 3px #ccc;
    
    text-align: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}


.Delete {
    border-color: indianred;
    background-color: indianred;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;

}

.Delete:hover,
.Delete:active {
    background-color: rgb(139, 62, 62);
}

